---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// https://ethanschoonover.com/solarized/
$body-color : #073642; // base02
$background-color : #002b36; // base03
$text-color : #657b83; // base00
$muted-text-color : #586e75; // base01 
$primary-color: #dc322f; // red
$link-color : #268bd2; // blue
$masthead-link-color : #cb4b16; // orange
$footer-background-color : #073642; // base02
$border-color : #cb4b16; // orange
$inverse-color : #002b36; // base2

/* solarized light syntax highlighting (base16) */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials